.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-item {
  background-color: var(--main-bg-color);
  border: 1px solid var(--boder-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  width: 18rem;
}
.card-item-img {
  height: 6rem;
  width: 4.87rem;
}
.card-item-header {
  display: flex;
  padding-bottom: 1rem;
}
.card-item-text {
  padding-left: 0.6rem;
}
.card-item-title {
  color: var(--title-color);
  font-size: 1.2rem;
}
#more {
  padding-bottom: 1rem;
}