.carousel-img {
  height: 30rem;
  object-fit: cover;
  object-position: 0 20%;
}
.carousel-caption-style {
  color: var(--text-color);
  font-family: var(--font-baskervville);
  width: 440px;
  font-size: 2.2rem;
  text-align:left
}

